<nav>
    <button>
        <a href="/">Home</a>
    </button>
    <button>
        <a href="/books">Post Book</a>
    </button>
    <button>
        <a href="/book-list">Book List</a>
    </button>
</nav>